<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        .navbar-custom{
            background-color: #E91C5D;
        }
        .navbar-custom .navbar-brand{
            color: #ffff
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" style="cursor:default;">Students Center</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="navbar-brand" aria-current="page" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 text-center">
    <h1>Welcome to the Students Center</h1>
    <p>Select an option below to proceed:</p>

    <div class="mb-3">
        <a class="btn btn-primary" th:href="@{/students/register}">Student Enroll</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-primary" th:href="@{/students/courses-list}">Courses List</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-primary">Search for Active or Inactive Students</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-primary">Search for Freshman or Veteran Students</a>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
