<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search students</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #E91C5D">
    <div class="container-fluid">
        <a class="navbar-brand" style="cursor:default; color: #ffff">Students Center</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="navbar-brand" style="color: #ffff" aria-current="page" th:href="@{/home}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 text-center">
    <h1>Choose one option</h1>

    <div class="mb-3">
        <p>Search for active students:</p>
        <a class="btn btn-primary" th:href="@{/students/active}">Active students</a>
    </div>
    <div class="mb-3">
        <p>Search for inactive students:</p>
        <a class="btn btn-primary" th:href="@{/students/inactive}">Inactive students</a>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
